<mat-drawer-container style="height:100vh;">
  <mat-drawer mode="side" opened="true" id="drawer">
  </mat-drawer>
  
  <mat-drawer-content>
    <mat-toolbar><h1>Dashboard</h1></mat-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <mat-card id="list-card">
                <mat-card-title>Your Places</mat-card-title>
                  <mat-form-field style="width:100%;">
                    <input matInput [(ngModel)]="query" placeholder="Search...">
                  </mat-form-field>
                <mat-card-content style="max-height: 319px;">
                  <mat-list class="mat-list">
                    <mat-list-item *ngFor="let place of places | async | reverse | filter:'name':query; let i = index">
                      <div class="item-title">{{place.name}}</div>
                      <div>
                        <button class="goto-btn" mat-raised-button (click)="goToPlace(place)">Go to!</button>
                        <button class="item-btn" mat-raised-button (click)="removePlace(i)">Delete</button>
                      </div>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-8">
            <mat-card>
                <mat-card-content>
                  <agm-map 
                    #map
                    [latitude]="lat" 
                    [longitude]="lng"
                    [zoom]="11"
                    (mapClick)="_onMapClick($event)">
                    <!-- Marker for new places -->
                    <agm-info-window [latitude]="lat" [longitude]="lng" [zIndex]="188"  #infoWindow>
                        <mat-form-field>
                            <input 
                              #placeInput
                              autofocus
                              matInput
                              placeholder="Name of place"
                              required
                              [formControl]="placeFormControl"
                              [errorStateMatcher]="matcher"
                              (keyup.enter)="onInputAdd(placeInput.value)">
                            <mat-error *ngIf="placeFormControl.hasError('pattern') && !placeFormControl.hasError('required')">
                              Please enter a valid name
                            </mat-error>
                            <mat-error *ngIf="placeFormControl.hasError('required')">
                              Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <button [disabled]="placeFormControl.hasError('pattern') || placeFormControl.hasError('required')" class="btn-margin" (click)="onInputAdd(placeInput.value)" mat-raised-button>Save</button>
                    </agm-info-window>
      
                    <!-- Marker for saved places -->
                    <agm-info-window #markerWindow [latitude]="lat" [longitude]="lng" [isOpen]="false" [zIndex]="100">{{place_name}}</agm-info-window>
                  </agm-map>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>