<mat-drawer-container>
  <mat-drawer mode="side" opened="true" id="drawer">
  </mat-drawer>
  
  <mat-drawer-content>
    <mat-toolbar>Kumpan map</mat-toolbar>
    <mat-grid-list cols="12" rowHeight="fit" style="height: 100vh;">
      
      <!-- List container -->
      <mat-grid-tile colspan="4" class="color">
        <mat-card id="list-card">
          <mat-card-title>Your Places</mat-card-title>
          <mat-card-content style="max-height: 60vh;">
            <mat-list class="mat-list">
              <mat-list-item *ngFor="let place of places">
                <div class="item-title">{{place.name}}</div>
                <div>
                  <button class="goto-btn" mat-raised-button (click)="goToPlace(place)">Go to!</button>
                  <button class="item-btn" mat-raised-button (click)="removePlace(place)">Delete</button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!-- .END List container -->

      <!-- Map container -->
      <mat-grid-tile colspan="8">
        <mat-card>
          <mat-card-content>
            <agm-map 
              #map
              [latitude]="lat" 
              [longitude]="lng"
              [zoom]="11"
              (mapClick)="_onMapClick($event)">
              <!-- Marker for new places -->
              <agm-info-window [latitude]="lat" [longitude]="lng" [zIndex]="188"  #infoWindow>
                  <mat-form-field>
                      <input #placeInput autofocus matInput placeholder="Place name?" (keyup.enter)="onInputAdd(placeInput.value)">
                  </mat-form-field>
                  <button class="btn-margin" (click)="onInputAdd(placeInput.value)" mat-raised-button>Save</button>
              </agm-info-window>

              <!-- Marker for saved places -->
              <agm-info-window #markerWindow [latitude]="lat" [longitude]="lng" [isOpen]="false" [zIndex]="100">{{place_name}}</agm-info-window>
            </agm-map>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!-- .END Map container -->
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>