agm-map{
  width: 100%;
  height: 437px;
}

.user{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  font-weight: lighter;
}

mat-toolbar{
  flex: inline-flex;
  justify-content: space-between;
}

ul{
  list-style-type: none;
  font-weight: 100;
  padding-left: 0;
  margin-top: 20px;
  width: 100%;
}

ul:hover{
  cursor: pointer;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  padding-left:24px;
}
li>div>i{
  font-size: 14px;
}
.light-item{
  color: #475266;
  background: #fff;
}

i{
  margin-right: 5px;
}

mat-toolbar{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background: #fff;
}

button{
  width: fit-content;
  padding: 0px 10px;
  min-width: 0;
}

#panel-heading{
  font-weight: lighter;
}

.panel-item{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
}

mat-card{
  width: 100%;
  margin-top: 20px;
}

.light-text{
  color: #fff;
}

#drawer{
  width: 250px;
  background: #485367;
  position:fixed;
  margin-top:64px;
}

#list-card{
  max-height: 485px;
}

.mat-card-content{
  display: flex;
}

.mat-list{
  flex: 1;
  overflow: scroll;
}

.item{
  display: inline-block;
}

.goto-btn{
  margin-right: 5px;
}

.item-btn{
  color: #fff;
  background-color: #f53b57;
  float: right;
}

.btn-margin{
  margin: 5px;
}

.hidden{
  display: none;
}

.tile{

}